:root {
  --primary-color: #f9e984;
  --secondary-color: #f3f3f3;
  --option-color: #21c1b8;
  --dark-color: #393939;
}
/* utils */
.icon {
  font-size: 2rem;
  color: var(--dark-color);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

/* main */
.wrapper {
  background-color: var(--primary-color);
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.header .back {
  font-weight: 600;
}

/* profile section */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.user-info .name {
  font-size: 1.45rem;
}

.user-img img {
  width: 60px;
}

/* todolist */
.todolist-items,
.todo-details {
  height: 390px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.todolist-items::-webkit-scrollbar {
  display: none;
}

.todolist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px 8px;
  margin: 4px 4px 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.todolist .todo {
  flex-grow: 3;
  cursor: pointer;
}

.todolist img {
  width: 60px;
}

.todolist .option {
  align-self: flex-start;
  text-align: right;
  font-size: 1.75rem;
}

.todo-top {
  display: flex;
  align-items: center;
  gap: 6px;
}

.todo-top img {
  width: 70px;
}

.todo-body {
  padding: 0 5px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.footer .btn-add {
  font-size: 2rem;
  line-height: 20px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
